*{
    padding:0; margin:0;
    font-weight: 100;
}

h1{
    font-size:30px;
}

h2{
    text-align:left;
    margin: 6vh 0 6vh 0.6vh;
    font-style: italic;
}

body{
    text-align: center;
    color:black;
    /*background:#263238;*/
    background-color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

main{
    margin-top:5vh;
}

main p{
    margin-top:2vh;
    margin-bottom:2vh;
}

input, select{
    text-align: center;
}

ul, li{
    margin:0;
    padding:0;
}

@media screen and (max-width: 700px){

    #dhis2logo{
        display:none;
    }

}

.commodity-info{
    padding-bottom:20px;
    padding-top:20px;
    width:40vw;
    font-size: 15px;
}

.input-fields{
    padding-bottom:10px;
    padding-top:10px;
    width:50vw;
    font-size: 20px;
}

.submit-btns{
    display:block;
    margin:0 auto;
    margin-top:10px;
}

.large-button-with-text{
    display:inline-block;
    background-color:rgb(33,150,243); /* DHIS approve color */
    margin-left: 20px;
    margin-bottom:20px;
    padding:6px;
    text-align: center;
}

.large-button-with-text{
    text-align: left;
}

.large-button-with-text:hover{
    cursor:pointer;
}

.section ul{
    margin-left:2%;
    margin-top:1%;
    list-style: none;
}

.section h3{
    width:70%;
    border-bottom: 1px black solid;
    margin-left:1%;
}

.operations{
    display:block;
}

.commodity-name{
    display:inline-block;
}

.operation{
    margin-bottom:1%;
    background-color:grey;
    border:1px solid;
    padding:5px;
    font-size:13px;
    display:inline-block;
}

.operation:hover{
    cursor: pointer;
}

.operations{
    width:80vw;
}

.remove-operation{
    position: relative;
    right:3px;
}

.remove-operation:hover{
    cursor:pointer;
    color:red;
}
.add-operation:hover{
    cursor:pointer;
    color:#00FF00;
}

.add-operation{
    margin-left:10px;
}

.section{
    text-align: left;
}

.large-button-with-text p{
    display:inline-block;
}

.large-button-with-text i{
    margin-left:5px;
}

#sections-part{
    text-align: left;
}

#dhis2logo{
    margin-top: 10px;
}

#plus-btn{
    display:block;
    color:green;
    font-size:40px;
}

#plus-btn:hover{
    cursor:pointer;
}

#minSelect{
    width:53vw;
}

#program_selector{
    width:100px;
}
